name: JustThis

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Upload Plugins Artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-packages
          path: spineassets
